<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Basics</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <div id="app">
        <h2>{{brand}}</h2>
        <button @click="showMenuItems" v-show="menuBtn">
            <span v-if="!selectItems">show Menu</span>
            <span v-if="selectItems">Hide Menu</span>
        </button>

        <div v-show="selectItems">
            <p>Select Item Here: 
                <ul>
                    <li><button @click="pizza()">Pizza</button></li><br>
                    <li><button @click="burger('Chicken Burger', '5', '1')">Burger</button></li>
                </ul>
            </p>
        </div>
       
       <div v-if="showItem">
            <p>Item : {{name}}</p>
            <p>Price : $ {{price * qty}}</p>
            <p>Quantity : 
                <button @click="qty--">-</button> {{qty}} 
                <button v-on:click="qty++">+</button>
            </p>
            <p>
                <button @click="order()">Confirm Order</button>
            </p>
       </div>

        <div v-if="orderConfirmed">
            <h2>Order Has Been Confirmed.</h2>
            <p>Item : {{name}}</p>
            <p>Price : $ {{price * qty}}</p>
            <p>Quantity : {{qty}}</p>
            <p>
                <button @click="orderMore()">Order More Items</button>
                <button @click="exit()">Exit App</button>
            </p>
       </div>
       <div>
           <h2 v-show="greetings">Thank You. See You Again !</h2>
       </div>
    </div>
    <script src="app.js"></script>
</body>
</html>